// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$duck-green: #387d40;
$duck-blue: #2b748c;
$duck-blue-light: #368896;
$duck-blue-1: #378B9D;
$duck-blue-2: #3883A0;
$duck-yellow: #E6BE2E;
