<% url = "https://cdn.theatlantic.com/assets/media/img/mt/2016/07/AP_671014678252/lead_720_405.jpg?mod=1533691512" %>

<h2>Our best ducks in @</h2>
<% @ducks.each do |duck| %>
  <img src= <%= url %> alt="duck">

  <li> <%= duck. %></li>
<p>Find me in app/views/bookings/index.html.erb</p>


<!-- url = duck.id_duck.img
