
<!-- TODO: refacto avec partials -->
<% if @search.present? &&  @users == [] %>

  <div class="alert alert-info center-block">
    <strong>Sorry!</strong> No ducks found in <%= params[:city].downcase.capitalize %> :(
  </div>

<% else %>

  <div class="container">
    <% if params[:city].present? && @users != [] %>

      <h2>Our best ducks in <%= params[:city] %></h2>

    <% else %>

      <h2>Our best ducks</h2>

    <% end %>

    <div class="cards">
        <%= render"shared/card", array: @ducks %>
    </div>

  </div>

<% end %>
