<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1525538182201-02cd1909effb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80);">
  <div class="container">
    <h1>Ducknb</h1>
    <p>Find your best duck for a week</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="container">
  <h3>Ducks of the moment !</h3>
  <div class="cards">
    <%= render"shared/card", array: @ducks_of_the_moment%>
  </div>
</div>
