.navbar-lewagon {
  background-color: rgba(0,0,0,0.0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  width : 56px;
}

.navbar-lewagon .nav-item {
  color: $white;
}

.navbar-lewagon a {
  color: $white !important;
}

.navbar-lewagon a:hover {
  color: $duck-yellow !important;
}


// $duck-green: #387d40;
// $duck-blue: #2b748c;
// $duck-blue-light: #368896;
// $duck-blue-1: #378B9D;
// $duck-blue-2: #3883A0;
