<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Update your review for <%= @review.booking.duck.name %></h1>
        <%= render"shared/formreview" %>
    </div>
  </div>
</div>

<% console %>
