<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Write a new review</h1>

      <%= simple_form_for @review do |f| %>
        <%= f.input :content%>
        <%= f.input :stars %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
